/*
Theme Name: Hello Child
Template: hello-elementor
*/

#wpadminbar {
  display: none;
}
.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  line-height: 2em;
  background: transparent;
}
.site-header.header-stacked .header-inner {
  align-items: flex-start;
}
.site-navigation ul.menu li {
  padding: 1rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  transition: all ease 0.4s;
}
.site-navigation ul.menu li:hover {
  border-top: 1px solid #0353a4;
}
.site-navigation ul.menu li:hover a {
  color: #0353a4;
}
.site-navigation ul.menu li a {
  display: block;
  padding: 0 2.8rem;
  border-right: 1px solid #fff;
  line-height: 1;
  transition: all ease 0.4s;
}
.site-navigation ul.menu li a:hover {
  color: #0353a4;
}
.site-navigation ul.menu li:last-child a {
  border-right: none;
}
.banner {
  min-height: 695px;
  background: center center / cover url(./banner.png) no-repeat;
  position: relative;
}
.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
